--
-- PostgreSQL database dump
--

\restrict 6DbA7X1AjCiIqBQJCQTD8k25AacnzdttGbztGaVespiOONBVdcK1zovOabkAIot

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: BillStatus; Type: TYPE; Schema: public; Owner: srivani
--

CREATE TYPE public."BillStatus" AS ENUM (
    'DRAFT',
    'FINAL',
    'CANCELLED'
);


ALTER TYPE public."BillStatus" OWNER TO srivani;

--
-- Name: CounterStatus; Type: TYPE; Schema: public; Owner: srivani
--

CREATE TYPE public."CounterStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'MAINTENANCE'
);


ALTER TYPE public."CounterStatus" OWNER TO srivani;

--
-- Name: MovementType; Type: TYPE; Schema: public; Owner: srivani
--

CREATE TYPE public."MovementType" AS ENUM (
    'PURCHASE',
    'SALE',
    'ADJUSTMENT_IN',
    'ADJUSTMENT_OUT',
    'TRANSFER_IN',
    'TRANSFER_OUT',
    'RETURN_IN',
    'RETURN_OUT',
    'REPACKING_IN',
    'REPACKING_OUT'
);


ALTER TYPE public."MovementType" OWNER TO srivani;

--
-- Name: PaymentMode; Type: TYPE; Schema: public; Owner: srivani
--

CREATE TYPE public."PaymentMode" AS ENUM (
    'CASH',
    'UPI',
    'CARD',
    'CHEQUE',
    'SPLIT'
);


ALTER TYPE public."PaymentMode" OWNER TO srivani;

--
-- Name: PurchaseStatus; Type: TYPE; Schema: public; Owner: srivani
--

CREATE TYPE public."PurchaseStatus" AS ENUM (
    'DRAFT',
    'PENDING_APPROVAL',
    'APPROVED',
    'REJECTED',
    'CANCELLED'
);


ALTER TYPE public."PurchaseStatus" OWNER TO srivani;

--
-- Name: SaleType; Type: TYPE; Schema: public; Owner: srivani
--

CREATE TYPE public."SaleType" AS ENUM (
    'CASH',
    'CREDIT'
);


ALTER TYPE public."SaleType" OWNER TO srivani;

--
-- Name: ShiftStatus; Type: TYPE; Schema: public; Owner: srivani
--

CREATE TYPE public."ShiftStatus" AS ENUM (
    'OPEN',
    'CLOSED',
    'SUSPENDED'
);


ALTER TYPE public."ShiftStatus" OWNER TO srivani;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: srivani
--

CREATE TYPE public."UserRole" AS ENUM (
    'SUPER_ADMIN',
    'BRANCH_MANAGER',
    'CASHIER',
    'PURCHASE_CHECKER',
    'ACCOUNTS_PERSON',
    'FLOOR_SUPERVISOR',
    'PACKING_STAFF',
    'SALES_REP'
);


ALTER TYPE public."UserRole" OWNER TO srivani;

--
-- Name: UserStatus; Type: TYPE; Schema: public; Owner: srivani
--

CREATE TYPE public."UserStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'SUSPENDED',
    'LOCKED'
);


ALTER TYPE public."UserStatus" OWNER TO srivani;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: srivani
--

CREATE TABLE public.audit_log (
    id bigint NOT NULL,
    "userId" text,
    "businessId" text,
    "actionType" text NOT NULL,
    "entityType" text NOT NULL,
    "entityId" text,
    "oldValues" jsonb,
    "newValues" jsonb,
    "ipAddress" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_log OWNER TO srivani;

--
-- Name: audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: srivani
--

CREATE SEQUENCE public.audit_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_log_id_seq OWNER TO srivani;

--
-- Name: audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: srivani
--

ALTER SEQUENCE public.audit_log_id_seq OWNED BY public.audit_log.id;


--
-- Name: bill_series; Type: TABLE; Schema: public; Owner: srivani
--

CREATE TABLE public.bill_series (
    id text NOT NULL,
    "businessId" text NOT NULL,
    "financialYearId" text NOT NULL,
    "seriesPrefix" text DEFAULT 'GST/'::text NOT NULL,
    "currentNumber" integer DEFAULT 0 NOT NULL,
    "numberFormat" text DEFAULT '0000'::text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.bill_series OWNER TO srivani;

--
-- Name: branch; Type: TABLE; Schema: public; Owner: srivani
--

CREATE TABLE public.branch (
    id text NOT NULL,
    "businessId" text NOT NULL,
    name text NOT NULL,
    address text,
    phone text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.branch OWNER TO srivani;

--
-- Name: brand; Type: TABLE; Schema: public; Owner: srivani
--

CREATE TABLE public.brand (
    id text NOT NULL,
    "businessId" text NOT NULL,
    name text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.brand OWNER TO srivani;

--
-- Name: business; Type: TABLE; Schema: public; Owner: srivani
--

CREATE TABLE public.business (
    id text NOT NULL,
    name text NOT NULL,
    gstin text,
    "stateCode" text DEFAULT '36'::text NOT NULL,
    "stateName" text DEFAULT 'Telangana'::text NOT NULL,
    address text,
    phone text,
    email text,
    "fssaiLicense" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.business OWNER TO srivani;

--
-- Name: category; Type: TABLE; Schema: public; Owner: srivani
--

CREATE TABLE public.category (
    id text NOT NULL,
    "businessId" text NOT NULL,
    name text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.category OWNER TO srivani;

--
-- Name: customer; Type: TABLE; Schema: public; Owner: srivani
--

CREATE TABLE public.customer (
    id text NOT NULL,
    "businessId" text NOT NULL,
    name text NOT NULL,
    phone text,
    email text,
    gstin text,
    address text,
    "stateCode" text,
    "customerType" text DEFAULT 'REGULAR'::text NOT NULL,
    "creditLimit" numeric(15,2) DEFAULT 0 NOT NULL,
    "outstandingBalance" numeric(15,2) DEFAULT 0 NOT NULL,
    "loyaltyPoints" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.customer OWNER TO srivani;

--
-- Name: expense; Type: TABLE; Schema: public; Owner: srivani
--

CREATE TABLE public.expense (
    id text NOT NULL,
    "businessId" text NOT NULL,
    "branchId" text,
    "expenseDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    category text,
    amount numeric(15,2) NOT NULL,
    "paymentMode" text DEFAULT 'CASH'::text NOT NULL,
    "vendorName" text,
    "referenceNo" text,
    description text,
    remarks text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.expense OWNER TO srivani;

--
-- Name: financial_year; Type: TABLE; Schema: public; Owner: srivani
--

CREATE TABLE public.financial_year (
    id text NOT NULL,
    "businessId" text NOT NULL,
    "fyCode" text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.financial_year OWNER TO srivani;

--
-- Name: pos_counter; Type: TABLE; Schema: public; Owner: srivani
--

CREATE TABLE public.pos_counter (
    id text NOT NULL,
    "businessId" text NOT NULL,
    "branchId" text NOT NULL,
    name text NOT NULL,
    code text NOT NULL,
    status public."CounterStatus" DEFAULT 'ACTIVE'::public."CounterStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.pos_counter OWNER TO srivani;

--
-- Name: pos_shift; Type: TABLE; Schema: public; Owner: srivani
--

CREATE TABLE public.pos_shift (
    id text NOT NULL,
    "counterId" text NOT NULL,
    "cashierId" text NOT NULL,
    "branchId" text,
    "shiftDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "openingCash" numeric(15,2) DEFAULT 0 NOT NULL,
    "closingCash" numeric(15,2),
    "expectedCash" numeric(15,2),
    "cashDiff" numeric(15,2),
    "totalSales" numeric(15,2) DEFAULT 0 NOT NULL,
    "totalBills" integer DEFAULT 0 NOT NULL,
    "totalCash" numeric(15,2) DEFAULT 0 NOT NULL,
    "totalUpi" numeric(15,2) DEFAULT 0 NOT NULL,
    "totalCard" numeric(15,2) DEFAULT 0 NOT NULL,
    status public."ShiftStatus" DEFAULT 'OPEN'::public."ShiftStatus" NOT NULL,
    "startTime" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "endTime" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.pos_shift OWNER TO srivani;

--
-- Name: product; Type: TABLE; Schema: public; Owner: srivani
--

CREATE TABLE public.product (
    id text NOT NULL,
    "businessId" text NOT NULL,
    "categoryId" text,
    "brandId" text,
    "taxId" text NOT NULL,
    name text NOT NULL,
    barcode text,
    "hsnCode" text NOT NULL,
    "unitOfMeasure" text DEFAULT 'PCS'::text NOT NULL,
    mrp numeric(15,2) NOT NULL,
    "sellingPrice" numeric(15,2) NOT NULL,
    "costPrice" numeric(15,2),
    "gstRatePercent" numeric(5,2),
    "reorderLevel" numeric(15,3) DEFAULT 10 NOT NULL,
    "minSellingQty" numeric(15,3) DEFAULT 1 NOT NULL,
    "allowDecimalQty" boolean DEFAULT false NOT NULL,
    "allowNegativeStock" boolean DEFAULT false NOT NULL,
    "isRepackingItem" boolean DEFAULT false NOT NULL,
    "imageUrl" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.product OWNER TO srivani;

--
-- Name: purchase; Type: TABLE; Schema: public; Owner: srivani
--

CREATE TABLE public.purchase (
    id text NOT NULL,
    "businessId" text NOT NULL,
    "branchId" text NOT NULL,
    "supplierId" text NOT NULL,
    "supplierName" text NOT NULL,
    "supplierGstin" text,
    "grnNumber" text,
    "invoiceNumber" text NOT NULL,
    "invoiceDate" timestamp(3) without time zone NOT NULL,
    "taxableAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "totalTaxAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "cgstTotal" numeric(15,2) DEFAULT 0 NOT NULL,
    "sgstTotal" numeric(15,2) DEFAULT 0 NOT NULL,
    "igstTotal" numeric(15,2) DEFAULT 0 NOT NULL,
    "grandTotal" numeric(15,2) DEFAULT 0 NOT NULL,
    "paidAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    status public."PurchaseStatus" DEFAULT 'DRAFT'::public."PurchaseStatus" NOT NULL,
    "approvedById" text,
    "approvedAt" timestamp(3) without time zone,
    notes text,
    "invoiceImageUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.purchase OWNER TO srivani;

--
-- Name: purchase_item; Type: TABLE; Schema: public; Owner: srivani
--

CREATE TABLE public.purchase_item (
    id text NOT NULL,
    "purchaseId" text NOT NULL,
    "productId" text NOT NULL,
    "taxId" text NOT NULL,
    "productName" text NOT NULL,
    "hsnCode" text,
    quantity numeric(15,3) NOT NULL,
    "freeQuantity" numeric(15,3) DEFAULT 0 NOT NULL,
    "unitPrice" numeric(15,2) NOT NULL,
    "schemeDiscountPercent" numeric(5,2) DEFAULT 0 NOT NULL,
    "retailerDiscountPercent" numeric(5,2) DEFAULT 0 NOT NULL,
    "taxableAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "gstRatePercent" numeric(5,2) DEFAULT 0 NOT NULL,
    "cgstAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "sgstAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "igstAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "totalAmount" numeric(15,2) NOT NULL,
    "expiryDate" timestamp(3) without time zone,
    "batchNumber" text
);


ALTER TABLE public.purchase_item OWNER TO srivani;

--
-- Name: sales_bill; Type: TABLE; Schema: public; Owner: srivani
--

CREATE TABLE public.sales_bill (
    id text NOT NULL,
    "businessId" text NOT NULL,
    "branchId" text NOT NULL,
    "financialYearId" text NOT NULL,
    "billSeriesId" text,
    "billNumber" text,
    "billDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "customerId" text,
    "customerName" text,
    "customerPhone" text,
    "customerGstin" text,
    "supplyStateCode" text,
    "saleType" public."SaleType" DEFAULT 'CASH'::public."SaleType" NOT NULL,
    "paymentMode" public."PaymentMode" DEFAULT 'CASH'::public."PaymentMode" NOT NULL,
    "subtotalAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "discountAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "taxableAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "cgstTotal" numeric(15,2) DEFAULT 0 NOT NULL,
    "sgstTotal" numeric(15,2) DEFAULT 0 NOT NULL,
    "igstTotal" numeric(15,2) DEFAULT 0 NOT NULL,
    "totalTaxAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "grandTotal" numeric(15,2) DEFAULT 0 NOT NULL,
    "paidAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "balanceAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    status public."BillStatus" DEFAULT 'DRAFT'::public."BillStatus" NOT NULL,
    "counterId" text,
    "shiftId" text,
    "createdById" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.sales_bill OWNER TO srivani;

--
-- Name: sales_item; Type: TABLE; Schema: public; Owner: srivani
--

CREATE TABLE public.sales_item (
    id text NOT NULL,
    "billId" text NOT NULL,
    "productId" text NOT NULL,
    "taxId" text NOT NULL,
    "productName" text NOT NULL,
    "hsnCode" text,
    quantity numeric(15,3) NOT NULL,
    "unitPrice" numeric(15,2) NOT NULL,
    "discountPercent" numeric(5,2) DEFAULT 0 NOT NULL,
    "discountAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "taxableAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "gstRatePercent" numeric(5,2) DEFAULT 0 NOT NULL,
    "cgstAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "sgstAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "igstAmount" numeric(15,2) DEFAULT 0 NOT NULL,
    "totalAmount" numeric(15,2) NOT NULL,
    "unitOfMeasure" text
);


ALTER TABLE public.sales_item OWNER TO srivani;

--
-- Name: stock_ledger; Type: TABLE; Schema: public; Owner: srivani
--

CREATE TABLE public.stock_ledger (
    id text NOT NULL,
    "businessId" text NOT NULL,
    "branchId" text NOT NULL,
    "productId" text NOT NULL,
    "movementType" public."MovementType" NOT NULL,
    "movementDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    quantity numeric(15,3) NOT NULL,
    "referenceType" text,
    "referenceId" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.stock_ledger OWNER TO srivani;

--
-- Name: supplier; Type: TABLE; Schema: public; Owner: srivani
--

CREATE TABLE public.supplier (
    id text NOT NULL,
    "businessId" text NOT NULL,
    name text NOT NULL,
    gstin text,
    phone text,
    email text,
    address text,
    "stateCode" text,
    "paymentTermsDays" integer DEFAULT 0 NOT NULL,
    "creditLimit" numeric(15,2) DEFAULT 0 NOT NULL,
    "outstandingBalance" numeric(15,2) DEFAULT 0 NOT NULL,
    "isGstRegistered" boolean DEFAULT true NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.supplier OWNER TO srivani;

--
-- Name: system_setting; Type: TABLE; Schema: public; Owner: srivani
--

CREATE TABLE public.system_setting (
    id text NOT NULL,
    "businessId" text NOT NULL,
    key text NOT NULL,
    value text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.system_setting OWNER TO srivani;

--
-- Name: tax; Type: TABLE; Schema: public; Owner: srivani
--

CREATE TABLE public.tax (
    id text NOT NULL,
    "businessId" text NOT NULL,
    "taxName" text NOT NULL,
    "taxCode" text NOT NULL,
    "taxRate" numeric(5,2) NOT NULL,
    "hsnCode" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.tax OWNER TO srivani;

--
-- Name: user; Type: TABLE; Schema: public; Owner: srivani
--

CREATE TABLE public."user" (
    id text NOT NULL,
    "businessId" text NOT NULL,
    username text NOT NULL,
    email text,
    "passwordHash" text NOT NULL,
    "fullName" text NOT NULL,
    phone text,
    role public."UserRole" DEFAULT 'CASHIER'::public."UserRole" NOT NULL,
    status public."UserStatus" DEFAULT 'ACTIVE'::public."UserStatus" NOT NULL,
    "failedLoginAttempts" integer DEFAULT 0 NOT NULL,
    "lockedUntil" timestamp(3) without time zone,
    "lastLoginAt" timestamp(3) without time zone,
    "lastLoginIp" text,
    "deletedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."user" OWNER TO srivani;

--
-- Name: audit_log id; Type: DEFAULT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.audit_log ALTER COLUMN id SET DEFAULT nextval('public.audit_log_id_seq'::regclass);


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: srivani
--

COPY public.audit_log (id, "userId", "businessId", "actionType", "entityType", "entityId", "oldValues", "newValues", "ipAddress", "createdAt") FROM stdin;
\.


--
-- Data for Name: bill_series; Type: TABLE DATA; Schema: public; Owner: srivani
--

COPY public.bill_series (id, "businessId", "financialYearId", "seriesPrefix", "currentNumber", "numberFormat", "isActive", "createdAt") FROM stdin;
\.


--
-- Data for Name: branch; Type: TABLE DATA; Schema: public; Owner: srivani
--

COPY public.branch (id, "businessId", name, address, phone, "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: brand; Type: TABLE DATA; Schema: public; Owner: srivani
--

COPY public.brand (id, "businessId", name, "isActive", "createdAt") FROM stdin;
\.


--
-- Data for Name: business; Type: TABLE DATA; Schema: public; Owner: srivani
--

COPY public.business (id, name, gstin, "stateCode", "stateName", address, phone, email, "fssaiLicense", "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: category; Type: TABLE DATA; Schema: public; Owner: srivani
--

COPY public.category (id, "businessId", name, "isActive", "createdAt") FROM stdin;
\.


--
-- Data for Name: customer; Type: TABLE DATA; Schema: public; Owner: srivani
--

COPY public.customer (id, "businessId", name, phone, email, gstin, address, "stateCode", "customerType", "creditLimit", "outstandingBalance", "loyaltyPoints", "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: expense; Type: TABLE DATA; Schema: public; Owner: srivani
--

COPY public.expense (id, "businessId", "branchId", "expenseDate", category, amount, "paymentMode", "vendorName", "referenceNo", description, remarks, "createdAt") FROM stdin;
\.


--
-- Data for Name: financial_year; Type: TABLE DATA; Schema: public; Owner: srivani
--

COPY public.financial_year (id, "businessId", "fyCode", "startDate", "endDate", "isActive", "createdAt") FROM stdin;
\.


--
-- Data for Name: pos_counter; Type: TABLE DATA; Schema: public; Owner: srivani
--

COPY public.pos_counter (id, "businessId", "branchId", name, code, status, "createdAt") FROM stdin;
\.


--
-- Data for Name: pos_shift; Type: TABLE DATA; Schema: public; Owner: srivani
--

COPY public.pos_shift (id, "counterId", "cashierId", "branchId", "shiftDate", "openingCash", "closingCash", "expectedCash", "cashDiff", "totalSales", "totalBills", "totalCash", "totalUpi", "totalCard", status, "startTime", "endTime", "createdAt") FROM stdin;
\.


--
-- Data for Name: product; Type: TABLE DATA; Schema: public; Owner: srivani
--

COPY public.product (id, "businessId", "categoryId", "brandId", "taxId", name, barcode, "hsnCode", "unitOfMeasure", mrp, "sellingPrice", "costPrice", "gstRatePercent", "reorderLevel", "minSellingQty", "allowDecimalQty", "allowNegativeStock", "isRepackingItem", "imageUrl", "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: purchase; Type: TABLE DATA; Schema: public; Owner: srivani
--

COPY public.purchase (id, "businessId", "branchId", "supplierId", "supplierName", "supplierGstin", "grnNumber", "invoiceNumber", "invoiceDate", "taxableAmount", "totalTaxAmount", "cgstTotal", "sgstTotal", "igstTotal", "grandTotal", "paidAmount", status, "approvedById", "approvedAt", notes, "invoiceImageUrl", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: purchase_item; Type: TABLE DATA; Schema: public; Owner: srivani
--

COPY public.purchase_item (id, "purchaseId", "productId", "taxId", "productName", "hsnCode", quantity, "freeQuantity", "unitPrice", "schemeDiscountPercent", "retailerDiscountPercent", "taxableAmount", "gstRatePercent", "cgstAmount", "sgstAmount", "igstAmount", "totalAmount", "expiryDate", "batchNumber") FROM stdin;
\.


--
-- Data for Name: sales_bill; Type: TABLE DATA; Schema: public; Owner: srivani
--

COPY public.sales_bill (id, "businessId", "branchId", "financialYearId", "billSeriesId", "billNumber", "billDate", "customerId", "customerName", "customerPhone", "customerGstin", "supplyStateCode", "saleType", "paymentMode", "subtotalAmount", "discountAmount", "taxableAmount", "cgstTotal", "sgstTotal", "igstTotal", "totalTaxAmount", "grandTotal", "paidAmount", "balanceAmount", status, "counterId", "shiftId", "createdById", notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: sales_item; Type: TABLE DATA; Schema: public; Owner: srivani
--

COPY public.sales_item (id, "billId", "productId", "taxId", "productName", "hsnCode", quantity, "unitPrice", "discountPercent", "discountAmount", "taxableAmount", "gstRatePercent", "cgstAmount", "sgstAmount", "igstAmount", "totalAmount", "unitOfMeasure") FROM stdin;
\.


--
-- Data for Name: stock_ledger; Type: TABLE DATA; Schema: public; Owner: srivani
--

COPY public.stock_ledger (id, "businessId", "branchId", "productId", "movementType", "movementDate", quantity, "referenceType", "referenceId", notes, "createdAt") FROM stdin;
\.


--
-- Data for Name: supplier; Type: TABLE DATA; Schema: public; Owner: srivani
--

COPY public.supplier (id, "businessId", name, gstin, phone, email, address, "stateCode", "paymentTermsDays", "creditLimit", "outstandingBalance", "isGstRegistered", "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: system_setting; Type: TABLE DATA; Schema: public; Owner: srivani
--

COPY public.system_setting (id, "businessId", key, value, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: tax; Type: TABLE DATA; Schema: public; Owner: srivani
--

COPY public.tax (id, "businessId", "taxName", "taxCode", "taxRate", "hsnCode", "isActive", "createdAt") FROM stdin;
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: srivani
--

COPY public."user" (id, "businessId", username, email, "passwordHash", "fullName", phone, role, status, "failedLoginAttempts", "lockedUntil", "lastLoginAt", "lastLoginIp", "deletedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Name: audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: srivani
--

SELECT pg_catalog.setval('public.audit_log_id_seq', 1, false);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: bill_series bill_series_pkey; Type: CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.bill_series
    ADD CONSTRAINT bill_series_pkey PRIMARY KEY (id);


--
-- Name: branch branch_pkey; Type: CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.branch
    ADD CONSTRAINT branch_pkey PRIMARY KEY (id);


--
-- Name: brand brand_pkey; Type: CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.brand
    ADD CONSTRAINT brand_pkey PRIMARY KEY (id);


--
-- Name: business business_pkey; Type: CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.business
    ADD CONSTRAINT business_pkey PRIMARY KEY (id);


--
-- Name: category category_pkey; Type: CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_pkey PRIMARY KEY (id);


--
-- Name: customer customer_pkey; Type: CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT customer_pkey PRIMARY KEY (id);


--
-- Name: expense expense_pkey; Type: CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.expense
    ADD CONSTRAINT expense_pkey PRIMARY KEY (id);


--
-- Name: financial_year financial_year_pkey; Type: CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.financial_year
    ADD CONSTRAINT financial_year_pkey PRIMARY KEY (id);


--
-- Name: pos_counter pos_counter_pkey; Type: CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.pos_counter
    ADD CONSTRAINT pos_counter_pkey PRIMARY KEY (id);


--
-- Name: pos_shift pos_shift_pkey; Type: CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.pos_shift
    ADD CONSTRAINT pos_shift_pkey PRIMARY KEY (id);


--
-- Name: product product_pkey; Type: CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_pkey PRIMARY KEY (id);


--
-- Name: purchase_item purchase_item_pkey; Type: CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.purchase_item
    ADD CONSTRAINT purchase_item_pkey PRIMARY KEY (id);


--
-- Name: purchase purchase_pkey; Type: CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.purchase
    ADD CONSTRAINT purchase_pkey PRIMARY KEY (id);


--
-- Name: sales_bill sales_bill_pkey; Type: CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.sales_bill
    ADD CONSTRAINT sales_bill_pkey PRIMARY KEY (id);


--
-- Name: sales_item sales_item_pkey; Type: CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.sales_item
    ADD CONSTRAINT sales_item_pkey PRIMARY KEY (id);


--
-- Name: stock_ledger stock_ledger_pkey; Type: CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.stock_ledger
    ADD CONSTRAINT stock_ledger_pkey PRIMARY KEY (id);


--
-- Name: supplier supplier_pkey; Type: CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.supplier
    ADD CONSTRAINT supplier_pkey PRIMARY KEY (id);


--
-- Name: system_setting system_setting_pkey; Type: CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.system_setting
    ADD CONSTRAINT system_setting_pkey PRIMARY KEY (id);


--
-- Name: tax tax_pkey; Type: CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.tax
    ADD CONSTRAINT tax_pkey PRIMARY KEY (id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: audit_log_createdAt_idx; Type: INDEX; Schema: public; Owner: srivani
--

CREATE INDEX "audit_log_createdAt_idx" ON public.audit_log USING btree ("createdAt");


--
-- Name: audit_log_entityType_entityId_idx; Type: INDEX; Schema: public; Owner: srivani
--

CREATE INDEX "audit_log_entityType_entityId_idx" ON public.audit_log USING btree ("entityType", "entityId");


--
-- Name: brand_businessId_name_key; Type: INDEX; Schema: public; Owner: srivani
--

CREATE UNIQUE INDEX "brand_businessId_name_key" ON public.brand USING btree ("businessId", name);


--
-- Name: category_businessId_name_key; Type: INDEX; Schema: public; Owner: srivani
--

CREATE UNIQUE INDEX "category_businessId_name_key" ON public.category USING btree ("businessId", name);


--
-- Name: customer_businessId_phone_idx; Type: INDEX; Schema: public; Owner: srivani
--

CREATE INDEX "customer_businessId_phone_idx" ON public.customer USING btree ("businessId", phone);


--
-- Name: pos_counter_businessId_code_key; Type: INDEX; Schema: public; Owner: srivani
--

CREATE UNIQUE INDEX "pos_counter_businessId_code_key" ON public.pos_counter USING btree ("businessId", code);


--
-- Name: pos_shift_counterId_status_idx; Type: INDEX; Schema: public; Owner: srivani
--

CREATE INDEX "pos_shift_counterId_status_idx" ON public.pos_shift USING btree ("counterId", status);


--
-- Name: product_barcode_idx; Type: INDEX; Schema: public; Owner: srivani
--

CREATE INDEX product_barcode_idx ON public.product USING btree (barcode);


--
-- Name: product_businessId_barcode_key; Type: INDEX; Schema: public; Owner: srivani
--

CREATE UNIQUE INDEX "product_businessId_barcode_key" ON public.product USING btree ("businessId", barcode);


--
-- Name: product_businessId_isActive_idx; Type: INDEX; Schema: public; Owner: srivani
--

CREATE INDEX "product_businessId_isActive_idx" ON public.product USING btree ("businessId", "isActive");


--
-- Name: purchase_businessId_invoiceNumber_supplierId_key; Type: INDEX; Schema: public; Owner: srivani
--

CREATE UNIQUE INDEX "purchase_businessId_invoiceNumber_supplierId_key" ON public.purchase USING btree ("businessId", "invoiceNumber", "supplierId");


--
-- Name: purchase_status_idx; Type: INDEX; Schema: public; Owner: srivani
--

CREATE INDEX purchase_status_idx ON public.purchase USING btree (status);


--
-- Name: purchase_supplierId_idx; Type: INDEX; Schema: public; Owner: srivani
--

CREATE INDEX "purchase_supplierId_idx" ON public.purchase USING btree ("supplierId");


--
-- Name: sales_bill_branchId_billDate_idx; Type: INDEX; Schema: public; Owner: srivani
--

CREATE INDEX "sales_bill_branchId_billDate_idx" ON public.sales_bill USING btree ("branchId", "billDate");


--
-- Name: sales_bill_customerId_idx; Type: INDEX; Schema: public; Owner: srivani
--

CREATE INDEX "sales_bill_customerId_idx" ON public.sales_bill USING btree ("customerId");


--
-- Name: sales_bill_status_idx; Type: INDEX; Schema: public; Owner: srivani
--

CREATE INDEX sales_bill_status_idx ON public.sales_bill USING btree (status);


--
-- Name: stock_ledger_movementDate_idx; Type: INDEX; Schema: public; Owner: srivani
--

CREATE INDEX "stock_ledger_movementDate_idx" ON public.stock_ledger USING btree ("movementDate");


--
-- Name: stock_ledger_productId_branchId_idx; Type: INDEX; Schema: public; Owner: srivani
--

CREATE INDEX "stock_ledger_productId_branchId_idx" ON public.stock_ledger USING btree ("productId", "branchId");


--
-- Name: system_setting_businessId_key_key; Type: INDEX; Schema: public; Owner: srivani
--

CREATE UNIQUE INDEX "system_setting_businessId_key_key" ON public.system_setting USING btree ("businessId", key);


--
-- Name: tax_businessId_taxCode_key; Type: INDEX; Schema: public; Owner: srivani
--

CREATE UNIQUE INDEX "tax_businessId_taxCode_key" ON public.tax USING btree ("businessId", "taxCode");


--
-- Name: user_businessId_username_key; Type: INDEX; Schema: public; Owner: srivani
--

CREATE UNIQUE INDEX "user_businessId_username_key" ON public."user" USING btree ("businessId", username);


--
-- Name: audit_log audit_log_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT "audit_log_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: bill_series bill_series_financialYearId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.bill_series
    ADD CONSTRAINT "bill_series_financialYearId_fkey" FOREIGN KEY ("financialYearId") REFERENCES public.financial_year(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: branch branch_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.branch
    ADD CONSTRAINT "branch_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.business(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: brand brand_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.brand
    ADD CONSTRAINT "brand_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.business(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: category category_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT "category_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.business(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: customer customer_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT "customer_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.business(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: expense expense_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.expense
    ADD CONSTRAINT "expense_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.business(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: financial_year financial_year_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.financial_year
    ADD CONSTRAINT "financial_year_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.business(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pos_counter pos_counter_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.pos_counter
    ADD CONSTRAINT "pos_counter_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public.branch(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pos_counter pos_counter_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.pos_counter
    ADD CONSTRAINT "pos_counter_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.business(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pos_shift pos_shift_cashierId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.pos_shift
    ADD CONSTRAINT "pos_shift_cashierId_fkey" FOREIGN KEY ("cashierId") REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pos_shift pos_shift_counterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.pos_shift
    ADD CONSTRAINT "pos_shift_counterId_fkey" FOREIGN KEY ("counterId") REFERENCES public.pos_counter(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: product product_brandId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT "product_brandId_fkey" FOREIGN KEY ("brandId") REFERENCES public.brand(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: product product_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT "product_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.business(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: product product_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT "product_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public.category(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: product product_taxId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT "product_taxId_fkey" FOREIGN KEY ("taxId") REFERENCES public.tax(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: purchase purchase_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.purchase
    ADD CONSTRAINT "purchase_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public.branch(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: purchase_item purchase_item_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.purchase_item
    ADD CONSTRAINT "purchase_item_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.product(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: purchase_item purchase_item_purchaseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.purchase_item
    ADD CONSTRAINT "purchase_item_purchaseId_fkey" FOREIGN KEY ("purchaseId") REFERENCES public.purchase(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: purchase_item purchase_item_taxId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.purchase_item
    ADD CONSTRAINT "purchase_item_taxId_fkey" FOREIGN KEY ("taxId") REFERENCES public.tax(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: purchase purchase_supplierId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.purchase
    ADD CONSTRAINT "purchase_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES public.supplier(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sales_bill sales_bill_billSeriesId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.sales_bill
    ADD CONSTRAINT "sales_bill_billSeriesId_fkey" FOREIGN KEY ("billSeriesId") REFERENCES public.bill_series(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: sales_bill sales_bill_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.sales_bill
    ADD CONSTRAINT "sales_bill_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public.branch(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sales_bill sales_bill_counterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.sales_bill
    ADD CONSTRAINT "sales_bill_counterId_fkey" FOREIGN KEY ("counterId") REFERENCES public.pos_counter(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: sales_bill sales_bill_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.sales_bill
    ADD CONSTRAINT "sales_bill_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: sales_bill sales_bill_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.sales_bill
    ADD CONSTRAINT "sales_bill_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public.customer(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: sales_bill sales_bill_financialYearId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.sales_bill
    ADD CONSTRAINT "sales_bill_financialYearId_fkey" FOREIGN KEY ("financialYearId") REFERENCES public.financial_year(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sales_bill sales_bill_shiftId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.sales_bill
    ADD CONSTRAINT "sales_bill_shiftId_fkey" FOREIGN KEY ("shiftId") REFERENCES public.pos_shift(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: sales_item sales_item_billId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.sales_item
    ADD CONSTRAINT "sales_item_billId_fkey" FOREIGN KEY ("billId") REFERENCES public.sales_bill(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sales_item sales_item_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.sales_item
    ADD CONSTRAINT "sales_item_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.product(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sales_item sales_item_taxId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.sales_item
    ADD CONSTRAINT "sales_item_taxId_fkey" FOREIGN KEY ("taxId") REFERENCES public.tax(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: stock_ledger stock_ledger_branchId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.stock_ledger
    ADD CONSTRAINT "stock_ledger_branchId_fkey" FOREIGN KEY ("branchId") REFERENCES public.branch(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: stock_ledger stock_ledger_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.stock_ledger
    ADD CONSTRAINT "stock_ledger_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.product(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: supplier supplier_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.supplier
    ADD CONSTRAINT "supplier_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.business(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: tax tax_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public.tax
    ADD CONSTRAINT "tax_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.business(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user user_businessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: srivani
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "user_businessId_fkey" FOREIGN KEY ("businessId") REFERENCES public.business(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict 6DbA7X1AjCiIqBQJCQTD8k25AacnzdttGbztGaVespiOONBVdcK1zovOabkAIot

